In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data1.csv')

In [4]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,25-Jan-2021,37.55,38.00,38.00,36.10,37,36.85,36.86,106363,39.21,758,63797,59.98
1,21STCENMGM,EQ,25-Jan-2021,11.15,11.15,11.35,10.95,10.95,10.95,11.10,3018,0.33,39,1913,63.39
2,3IINFOTECH,EQ,25-Jan-2021,7.40,7.35,7.40,7.05,7.05,7.05,7.07,16325111,1154.59,10076,8432774,51.66
3,3MINDIA,EQ,25-Jan-2021,20473.70,20688.00,20744.00,19900.00,20049,20005.20,20125.47,5633,1133.67,3605,3013,53.49
4,3PLAND,EQ,25-Jan-2021,9.60,9.60,10.00,9.60,9.95,9.95,9.84,1461,0.14,40,948,64.89

In [9]:
print(df['SERIES'].astype('category'))

0        EQ
1        EQ
2        EQ
3        EQ
4        EQ
       ...
2018     EQ
2019     EQ
2020     EQ
2021     BE
2022     EQ
Name: SERIES, Length: 2023, dtype: category
Categories (78, object): [' BE', ' BZ', ' E1', ' EQ', ..., ' ZD', ' ZE', ' ZG', ' ZJ']