In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,1,3,54],[45,54,32,4],[4,3,2,2],[56,43,223,21],[34,55,4,2]],columns=['A','B','C','D'])

In [3]:
df

    A   B    C   D
0   1   1    3  54
1  45  54   32   4
2   4   3    2   2
3  56  43  223  21
4  34  55    4   2

In [6]:
df.to_csv('convert.csv', index=False)